.form-auth{
    width: 100%;
    height: 100%;
    display: flex;      
}

.form-submit{
    width: 26%;
    margin: auto;
}

.submit-button
{
    width: 100%;
}

.submit-button:hover{
    background-color: transparent;
    color:blue;
}
